{% extends 'base.html' %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<h1>Политика конфиденциальности</h1>
<p>Настоящая Политика регламентирует сбор и обработку персональных данных клиентов Кондитерской.</p>
Мы собираем только ту информацию, которую вы добровольно указываете при оформлении заказа: ваше имя, номер телефона, 
адрес доставки и адрес электронной почты.Эти данные используются исключительно для оперативного подтверждения ваших заказов, 
бережной доставки десертов и информирования о наших новых акциях.Мы гарантируем полную конфиденциальность и обязуемся никогда 
не передавать ваши личные сведения сторонним организациям или третьим лицам.В любой момент вы имеете законное право отозвать 
свое согласие на обработку данных и потребовать их полное удаление из нашей базы, просто связавшись с нами.
{% endblock %}