{% extends 'base.html' %}

{% block title %}Архив {{ year }}{% endblock %}

{% block content %}
<h1>Архив за {{ year }} год</h1>

<p>Это пример использования <strong>регулярных выражений</strong> в маршрутах Django.</p>

<p>Маршрут определён с помощью <code>re_path(r'^archive/(?P&lt;year&gt;[0-9]{{ '{' }}4{{ '}' }})/$', ...)</code></p>

<p>Такое решение позволяет:</p>
<ul>
    <li>Ограничить формат URL (только 4 цифры)</li>
    <li>Использовать сложные паттерны для маршрутизации</li>
    <li>Извлекать параметры из URL с помощью регулярных выражений</li>
</ul>

<p><strong>Переданный год:</strong> {{ year }}</p>

<p><a href="{% url 'core:home' %}">← На главную</a></p>
{% endblock %}